# Ignore Python cache directories
__pycache__/

# Ignore distribution/build directories
dist/
build/
temp/

# Ignore IDE settings
.idea/

# Ignore Python environment files
.python-version
.venv/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

tree.txt